<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/popup.css"/>
  </head>
  <body class="p-3">
    <div id="app">
      <span>Languages:</span><br/>
      <div class="d-flex justify-content-center align-items-center px-2">
        <form id="languagesForm" class="row row-cols-auto">
          <div class="col form-check form-check-inline form-switch" v-for="lang in Object.keys(langConfig)">
            <input class="form-check-input" type="checkbox" v-model="langs" v-bind:value="lang" v-bind:id="lang">
            <label class="form-check-label" v-bind:for="lang">{{ langConfig[lang] }}</label>
          </div>
        </form>
      </div>
      <form id="optionsForm">
        <label for="speed" class="form-label">Speed (higher is slower):</label>
        <input type="range" class="form-range w-100" min="1" max="5" v-model="options.speed" id="speed">
      </form>
      <span>Miscellaneous:</span><br/>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" v-model="options.analytics" id="analyticsCheckbox">
        <label class="form-check-label" for="analyticsCheckbox">Enable Analytics</label>
      </div>
      <hr/>
      <button type="button" class="btn btn-outline-danger w-100" v-on:click="reset">Reset Settings</button>
    </div>
    <script src="/vendor/popper/popper.min.js" defer></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js" defer></script>
    <script src="/vendor/vue/vue.min.js" defer></script>
    <script src="/js/popup.js" defer></script>
  </body>
</html>

