<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/popup.css"/>
  </head>
  <body class="p-3">
    <div id="app">
      <form id="languagesForm">
        <div class="col-sm-4" v-for="lang in Object.keys(langConfig)">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" v-model="langs" v-bind:value="lang" v-bind:id="lang">
            <label class="form-check-label" v-bind:for="lang">{{ langConfig[lang] }}</label>
          </div>
        </div>
      </form>
      <hr/>
      <form id="optionsForm">
        <label for="speed" class="form-label">Speed:</label>
        <input type="range" class="form-range w-100" min="1" max="5" v-model="options.speed" id="speed">
      </form>
    </div>
    <script src="/vendor/popper/popper.min.js" defer></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js" defer></script>
    <script src="/vendor/vue/vue.min.js" defer></script>
    <script src="/js/popup.js" defer></script>
  </body>
</html>

